body{
    font-family: arial, sans-serif;
    font-size: 1.25em;
}
td.stat{
    width: 45px;
    text-align: center;
}
th{
    text-align: center;
}

td.desc{
    width: 350px;
}
td.special{
    width: 30;
}
table.unit{
    width: 1050px;
    border-collapse: collapse;
    margin-bottom: 25px;
}
table.unit td{
    border: 1px solid #dddddd;
}
table.unit th{
    background: #005577;
    color: white;
}

