<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <h1>Warbands</h1>
      {{range .payload }}
        <!--Create the link for the article based on its ID-->
        <a href="/wb/{{.ID.Hex}}">
          <h2>{{.Name}}</h2>
        </a>
        <p><em>Points: {{ .Points }}</em>{{.Desc}}</p>
      {{end}}
    
</body>
</html>
