<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <h2>{{.payload.Name}}</h2>
  <p><strong>Points:</strong>{{.payload.Points}}</p>
  <p><strong>Desc:</strong>{{.payload.Desc}}</p>
    {{range .payload.Units}}
    <table class="unit">
        <tr class="header">
            <th>{{.Name}} {{.Points}}  </th>
            <th>Ag</th>
            <th>Acc</th>
            <th>Str</th>
            <th>Res</th>
            <th>Init</th>
            <th>Co</th>
            <th>Special</th>
        </tr>
        {{ range .Models}}
        <tr class="row">
            <td class="desc">{{.Desc}}</td>
            <td class="stat">{{.Ag}}</td>
            <td class="stat">{{.Acc}}</td>
            <td class="stat">{{.Str}}</td>
            <td class="stat">{{.Res}}</td>
            <td class="stat">{{.Init}}</td>
            <td class="stat">{{.Co}}</td>
            <td class="special">{{.Special}}</td>
        </tr>
        {{end}}
    </table>
        <ul>
            {{range $opt :=  .Options}}
            <li>{{$opt}}</li>
            {{end}}
        </ul>
    {{end}}
    
</body>
</html>
